body{
    background: rgb(129, 147, 247); 
    font-family:'Franklin Gothic Medium';
    color: rgb(15, 8, 1);
    
}

.Mode{
    text-decoration: none;
    color: blanchedalmond;
}
div {
    display: flex;
    justify-content: space-between;
    font-size: 28px;
    
    
}


.para{
   display: flex;
   justify-content: center;
   text-align: center;
   flex-direction: column;
    font-family: 'Gill Sans';
    color: rgb(15, 8, 1);;
    background-color:rgb(169, 181, 247);
    border: black;
    border-radius: 10px;
    border-style: groove;
    padding: 25px;
    width: 1000px;

}

h1,h2,h3,h4,h5{
    display: flex;
    justify-content: center;
    font-style: italic;
    font-size: 28px;
    padding: 5px;
}
#head{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#headShot{
    border: black;
    border-radius: 10px;
    border-style: groove;
    width: 150px;
}

#name{
   overflow: hidden;
   position: fixed;
   top: 0%;
   width: 1235px;
   background-color:black;
   opacity: 85%;
    display: flex;
        justify-content:space-around;
        align-items: center;
        font-size: 18px;
        padding: 4px;
        border: black;
        border-radius: 5px;
        border-style: groove;
}

a {
    text-decoration: none;
    color: blanchedalmond;
}
.al{
    text-decoration: none;
    color: rgb(15, 8, 1);
    font-family: 'Gill Sans';

}


#name a:hover{
    background:rgb(169, 181, 247);
    color:black;
}

span:hover{
    background:rgb(169, 181, 247);
    color:black;
}

.Mode a{
    float: left;
    display:block;
    text-align: center;
}

#name a{
    float: left;
    display:block;
    text-align: center;
}

#big_div{
    display: flex;
    margin-top: 30px;
        justify-content:space-around;
        align-items: flex-end;
        font-size: 18px;
        padding: 5px;
        border: black;
        border-radius: 5px;
        border-style: groove;
        
}

.Discrip{
    font-size: 16px;
    font-weight:lighter ;
    padding: 5px;
}

#newDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
      font-size: 19px;
  
  }


#aboutMe{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    font-size: 19px;

}

 #skyline{
    display: flex;
    width: 1245px; 
    border: black;
    border-radius: 10px;
    border-style: groove;
 }
 #Discrip2{
    font-size: 16px;
    font-weight: lighter;
    padding: 5px;
}

#divthree{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.photos{
    border: black;
    border-radius: 10px;
    border-style: groove;
    width: 250px;
}

.box{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
     font-family: 'Gill Sans';
     padding: 15px;
     width: 250px;  
}


.photo{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    padding: 5px;
}